name: "Test Suite"
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    name: CI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - uses: cargo-bins/cargo-binstall@v1.8.0
      - uses: denoland/setup-deno@v1
        with:
          deno-version: v2.x
      - run: |
          # For some reason the cached binaries don't end up on the path
          # so we need to --force here
          cargo binstall -y --force just wasm-bindgen-cli wasm-opt
          just ci
